// // colors
// $accentColor = #5CCC5E
// $textColor = #2c3e50
// $borderColor = #eaecef
// $codeBgColor = #282c34
// $arrowBgColor = #ccc

// // layout
// $navbarHeight = 60px
// $navbarHeightMobile = 3.875rem
// $sidebarWidth = 17rem
// $contentWidth = 840px

// // responsive breakpoints
// $MQNarrow = 959px
// $MQMobile = 719px
// $MQMobileNarrow = 419px

// // code
// $lineNumbersWrapperWidth = 3.5rem
// $codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py docker dockerfile makefile
$sidebarWidth = 17rem
