@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700&:display=swap');

:root {
  --white: #ffffff;
  --green: #00a656;
  --grey1: #fdf0e3;
  --grey3: #fbfbfb;
  --red: #ab3307;
  --blue: #0172cb;

  --color-line-grey: #ebebeb;
  --color-dark-line-grey: #e0e0e0;
  --color-mercury-grey: #cccccc;
  --color-slate-grey: #808080;
  --color-pepper-grey: #333333;
  --color-frosty-grey: #f7f7f7;
  --color-darkest-blue: #18324c;
  --color-true-blue: #163e6b;
  --color-calm-blue: #bde8ea;
  --color-calmer-blue: #d9f6f7;
  --color-calm-green: #acdeac;
  --color-calmer-green: #e4f5e4;
  --color-calm-pink: #f4bfb6;
  --color-calmer-pink: #ffe5e1;
  --color-smart-green: #5ccc5e;
  --color-trusty-peach: #ff917d;
  --color-epic-yellow: #ffd100;
  --color-pale-green: #ddfbe0;
  --color-text-error-on-white: #f55335;
  --color-interactive-blue: #1863e6;
  --color-navy-medium: #2d69b0;
  --color-rich-blue: #1863e6;
  scroll-behavior: smooth;
  --content-width: 1170px;
  --sidebar-width: 17rem;

  --vp-c-brand-1: var(--green);
}

$mobile: 720px;
$tablet: 960px;
$pageWidth: 1119px;

html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

.site-name.can-hide {
  display: none;
}

.page {
  padding-top: 0px !important;
}

table {
  z-index: 2;
  position: relative;
}

.vp-doc h2 {
  border: none;
  margin-top: 30px;
}

h2,
h3 {
  position: relative;
  border-bottom: 0;
  display: table;
  margin-bottom: 25px;

  &::after {
    background: var(--green);
    border-radius: 10px;
    bottom: -4px;
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    right: 0;
    width: 55%;
  }
}

h3::after {
  background: #718096;
}

// --- Header ---
.VPSidebarItem {
  h2 {
    margin-bottom: 0;
    display: block;
    &:after {
      content: none;
    }
  }
}
